//Founder Portraits
.aboutPortrait {
	width:80%;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	border: 4px solid $gold;
	display:block;
	margin:0 auto;
}
.aboutPortraitText {text-align:center;}