.red {background:red;}
.green {background:green;}
.gray {background:gray;}
.darkGray {background:darkgray;}
.lightGray {background:lightgray;}
.block {display:block;}
.white {background:$beige;}

.purple {background:$purple}

// Global
hr {}
img.logo {
	max-width:emCalc(35px);
	max-height:emCalc(35px);
	padding-bottom:emCalc(1px);
}
.card {min-height:100vh;}
.bgWrapper {
	background:$purple;
}

//Typography
h1 {
	font-family:"Cassannet", Helvetica, Arial, sans-serif;
	font-size:emCalc(72px);
	font-weight: 700;
	text-transform:uppercase;
}
h1.logo {text-transform:uppercase;}
h1.subheader {
	font-weight:300;
	font-size:emCalc(32px);
}

//Buttons
#navButton {
	border:none;
	min-width:10em;
	min-height:emCalc(45px);
}
.button#mHeroButton {
	min-height:emCalc(100px);
	border:none;
}
.button#mSubHeroButton {
	min-height:emCalc(50px);
	border:none;
}
// Social Media Buttons!
.tumblrBtn {
	background: $gold
		url(../img/tumblr.png)
		no-repeat;
	background-position: center center;
	background-size:contain;
	min-height:emCalc(45px);
	min-width:emCalc(150px);
}
.fbBtn {
	background: $gold
		url(../img/fb.png)
		no-repeat;
	background-position: center center;
	background-size:contain;
	min-height:emCalc(45px);
	min-width:emCalc(150px);
}
.twitterBtn {
	background: $gold
		url(../img/twitter.png)
		no-repeat;
	background-position: center center;
	background-size:contain;
	min-height:emCalc(45px);
	min-width:emCalc(150px);
}

//Footer
.footer {
	min-width:100vw;
	background:$dBlue;
	color:$lPurple;
	padding:emCalc(30px) 0;
}
.footer ul {
	list-style:none;
}
.footer ul a {color:$beige;}
.footer ul a:hover {color:$gold;}
.footer ul a:visited {color:$beige;}
a.disabled {color:$darkRed;}


//Foundation Overrides
.top-bar {
	margin-bottom:0;
}
.top-bar a {
	transition: all 0.12s ease-out 0s;
    transition-property: all;
    transition-duration: 0.12s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}
.contain-to-grid.nav {
	border-bottom:4px solid $dGold;
}
[data-magellan-expedition] {
	background:$dPurple;
	padding:emCalc(5px);
}



