.hero {
    background: $white url("../img/dapperBGwhite.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
    min-width: 100vw;
    border-bottom: 4px solid $dPurple;
}

div.heroText {
    margin-top: 1em;
}

.heroText h1.subheader {
    font-size: emCalc(22px);
    background: $red;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    color: $beige;
    text-shadow: none;
    border-bottom: 4px solid $gold;
    border-top: 4px solid $gold;
    display: block;
}
//Desktop Home Card
.homeCard {
    min-height: 70vh;
}
.heroText button {
    margin-top: 1em;
}
