//Customized Typography
$h1-font-size: emCalc(72px);
$h3-font-size: emCalc(27px);
$h4-font-size: emCalc(23px);
$h5-font-size: emCalc(18px);
$h6-font-size: 1em;

$topbar-bg: #1F162B;
$topbar-link-color:white;
$topbar-link-color-active: #D6BB3D;

// $header-font-family: "Open Sans", "Helvetica", Helvetica, Arial, sans-serif;


// $subheader-line-height: 1.4;
// $subheader-font-color: lighten($header-font-color, 30%);
// $subheader-font-weight: 300;
// $subheader-top-margin: .2em;
// $subheader-bottom-margin: .5em;

// $list-style-position: inside;
// $list-side-margin: emCalc(20px);
// $list-nested-margin: emCalc(20px);
// $definition-list-header-weight: bold;
// $definition-list-header-margin-bottom: .3em;
// $definition-list-margin-bottom: emCalc(12px);