//Color Variables
$white:#f8f6f3;
$beige:#ece3d6;
$red:#A33F2D;
$darkRed:#2B0905;

$lPurple:#4F3F72;
$purple:#382848;
$dPurple:#1F162B;

$blue:#282868;
$dBlue:#090935;

$lGold:#D3BE67;
$gold:#D6BB3D;
$dGold:#AD9227;

//Customized Typography

$h1-font-size: emCalc(72px);
$h3-font-size: emCalc(27px);
$h4-font-size: emCalc(23px);
$h5-font-size: emCalc(18px);
$h6-font-size: 1em;

// Cassanet @font-face
@font-face {
    font-family: 'Cassannet';
    src: url('../fonts/cassannet-webfont.eot');
    src: url('../fonts/cassannet-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cassannet-webfont.woff') format('woff'),
         url('../fonts/cassannet-webfont.ttf') format('truetype'),
         url('../fonts/cassannet-webfont.svg#cassannet_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
} @font-face {
    font-family: 'Cassannet-bold';
    src: url('../fonts/cassannet_bold-webfont.eot');
    src: url('../fonts/cassannet_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cassannet_bold-webfont.woff') format('woff'),
         url('../fonts/cassannet_bold-webfont.ttf') format('truetype'),
         url('../fonts/cassannet_bold-webfont.svg#cassannet_boldbold') format('svg');
    font-weight: bold;
    font-style: normal;
}


//Top-bar overrides
$topbar-bg: $dPurple;
$topbar-link-color: white;
$topbar-link-color-active: $gold;

// $header-font-family: "Open Sans", "Helvetica", Helvetica, Arial, sans-serif;

// $subheader-line-height: 1.4;
// $subheader-font-color: lighten($header-font-color, 30%);
// $subheader-font-weight: 300;
// $subheader-top-margin: .2em;
// $subheader-bottom-margin: .5em;

// $list-style-position: inside;
// $list-side-margin: emCalc(20px);
// $list-nested-margin: emCalc(20px);
// $definition-list-header-weight: bold;
// $definition-list-header-margin-bottom: .3em;
// $definition-list-margin-bottom: emCalc(12px);
